<!DOCTYPE html>

<html>

<head>
    <!-- Meta -->
    <meta charset="utf-8">

    <!--- Theme color on mobile --->
    <meta name="theme-color" content="#B71C1C">
    <meta name="msapplication-navbutton-color" content="#B71C1C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#B71C1C">

    <!-- Title -->
    <title>Field Vitals &middot; Home</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel='stylesheet' type='text/css'>
    <link href="https://anijs.github.io/lib/anicollection/anicollection.css" rel="stylesheet" type='text/css'>
    <link href="/static/css/site.css" rel='stylesheet' type='text/css'>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AniJS/0.9.3/anijs-min.js"></script>
    <script src="/static/js/site.js"></script>
</head>

<body>
    <header id="fv-header">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2 class="hide">Home</h2>
                    <div id="fv-logo-wrapper" class="valign-wrapper">
                        <img src="/static/img/logo.png" id="fv-logo" class="center-block valign" data-anijs="if: mouseover, do: pulse animated">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="fv-main">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/static/img/problem.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">The Problem<i class="material-icons right">more_vert</i></span>
                            <p>Environmental conditions of crops vary throughout the field's landscape. There is no viable platform for large farms to efficiently and effectively monitor a crops ecosystem on a daily basis.</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Components to the Problem<i class="material-icons right">close</i></span>
                            <br>
                            <div class="row">
                                <div class="col s3">
                                    <i class="large material-icons">invert_colors</i>
                                </div>
                                <div class="col s9">
                                    <p>Irregular Use of Water and Fertilizer</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <i class="large material-icons">new_releases</i>
                                </div>
                                <div class="col s9">
                                    <p>Unknown Effects to Soil and Crops</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <i class="large material-icons">trending_down</i>
                                </div>
                                <div class="col s9">
                                    <p>Wasted Time and Money on Inefficient Practices</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/static/img/solution.JPG">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Our Solution<i class="material-icons right">more_vert</i></span>
                            <p>We use measurements of the vitals of field soil to maximize crop nutrients & yield, all while minimizing water consumption, fertilizer costs, and other operating costs for large scale farmers.</p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Components to our Solution<i class="material-icons right">close</i></span>
                            <br>
                            <div class="row">
                                <div class="col s3">
                                    <i class="large material-icons">invert_colors</i>
                                </div>
                                <div class="col s9">
                                    <p>Irregular Use of Water and Fertilizer</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <i class="large material-icons">new_releases</i>
                                </div>
                                <div class="col s9">
                                    <p>Unknown Effects to Soil and Crops</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s3">
                                    <i class="large material-icons">trending_down</i>
                                </div>
                                <div class="col s9">
                                    <p>Wasted Time and Money on Inefficient Practices</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="center">
                                <span class="card-title center-align">Sign up for our mailing list</span>
                            </div>
                            <div class="row">
                                <form class="col s12" id="mailing-list">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="first_name" type="text" name="first_name" class="validate">
                                            <label for="first_name">First Name</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="last_name" type="text" name="last_name" class="validate">
                                            <label for="last_name">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" type="email" name="email" class="validate">
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 center">
                                            <a class="btn waves-effect waves-light green" type="submit" name="action" onclick="submitToMailingList();">Submit
                                                <i class="material-icons right">send</i>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer green lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">In Partnership With</h5>
                    <img src="/static/img/semtech.png" style="padding-top:1em;max-width:15em;height:auto">
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Team Members</h5>
                    <ul>
                        <li>
                            <p class="grey-text text-lighten-3">Tyler Lucas</p>
                        </li>
                        <li>
                            <p class="grey-text text-lighten-3">Trevor Roe</p>
                        </li>
                        <li>
                            <p class="grey-text text-lighten-3">John Ikudaisi</p>
                        </li>
                        <li>
                            <p class="grey-text text-lighten-3">Mitchell Sayer</p>
                        </li>
                        <li>
                            <p class="grey-text text-lighten-3">David Hacker</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Field Vitals
            </div>
        </div>
    </footer>
</body>

</html>